__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
.env/

.streamlit/

.ipynb_checkpoints/

.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp

*.csv
*.xlsx
*.h5
*.pkl

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.coverage
htmlcov/
.tox/
.pytest_cache/
